.home {
  background-color: #f3f3f3;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  flex-direction: row;
}

.container {
  flex: 1;
  margin: 40px;
  margin-left: 0;
  padding: 30px;
  border-radius: 30px;
  background-color: white;
}
